[Desktop Entry]
Name=GTK Hello
GenericName=Hello World App
Comment=Proves that we can use Vala and Gtk
Categories=GTK;Utility;
Exec=gtk-hello
Icon=application-default-icon
Terminal=false
Type=Application
X-GNOME-Gettext-Domain=gtk-hello
Keywords=Hello;World;Example;
